<header>
  <div class="header-ad">
    {{ text }}
    <button
      mat-icon-button
      color="warn"
      aria-label="Example icon button with a heart icon"
      (click)="handleClick()"
    >
      <mat-icon [ngClass]="{ moreThanFive: count > 3 }">favorite</mat-icon>
    </button>
  </div>
  <mat-toolbar class="header">
    <div class="logo">
      <!-- appColor is our directive -->
      <a routerLink="/" appColor><ng-content></ng-content></a>
      <!--
        everything that between <app-header>...</app-header> will be shown here -> <ng-content></ng-content>
        in our case <app-header>{{ logo }}</app-header> -> "Mappy"
      -->
    </div>
    <div class="nav-menu">
      <div>
        <a
          routerLink="/about"
          routerLinkActive="active"
          appColor
          [routerLinkActiveOptions]="{ exact: true }"
          >About</a
        >
        <!-- routerLinkActiveOptions = class .active will work only for exact path!  -->
      </div>
      <div>
        <a routerLink="/currency" routerLinkActive="active" appColor
          >Currency</a
        >
      </div>
      <div>
        <a routerLink="/nope" routerLinkActive="active" appColor>Nope</a>
      </div>
    </div>
  </mat-toolbar>
</header>
