.header-ad {
  color: #eaf587;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  padding: 3px 0;
  font-size: medium;
  font-weight: 500;
  letter-spacing: 2px;
}

.moreThanFive {
  color: #75c56b;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #eaf587;
  border-radius: 10px;
  margin-bottom: 10px;

  .logo {
    width: 50%;
  }

  .nav-menu {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    a {
      padding: 5px;
    }

    div {
      margin: 0 10px;
    }
  }
}

.active {
  letter-spacing: 5px;
}
