<header>
  <mat-toolbar class="header">
    <div class="logo">
      <a routerLink="/">Mappy</a>
    </div>
    <div class="nav-menu">
      <div>
        <span matBadgeOverlap="true" matBadgeSize="small"
          ><a routerLink="/">Home</a></span
        >
      </div>
      <div>
        <span matBadgeOverlap="true" matBadgeSize="small"
          ><a routerLink="/about">About</a></span
        >
      </div>
      <div>
        <a routerLink="/nope">Nope</a>
      </div>
    </div>
  </mat-toolbar>
</header>
