<form #myForm="ngForm">
  <!--  
  ngModelOptions - allows us to modify "name"
  [(ngModel)] - two way binding
  -->
  <mat-form-field class="form-input">
    <mat-label>Enter your name</mat-label>
    <input
      matInput
      placeholder="Enter your name"
      [(ngModel)]="name"
      #qwerty="ngModel"
      name="Input for name"
      required
      (ngModelChange)="onChangeName()"
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field>
  <div [hidden]="qwerty.touched">
    <h3>Touche input name</h3>
  </div>
  <!-- 
    also using two way binding but without [(ngModel)]
  -->
  <mat-form-field class="form-input">
    <mat-label>Enter your surname</mat-label>
    <input
      matInput
      placeholder="Enter your surname"
      #inputSurname
      [value]="surname"
      (change)="surnameHendler(inputSurname.value)"
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="handleAlias(qwerty, myForm)"
  >
    Get alias
  </button>
</form>

<div *ngIf="alias; else elseAlias" class="alias">
  <h3>Your alias: {{ alias }}</h3>
</div>

<ng-template #elseAlias>
  <h3 class="error">{{ aliasError }}</h3>
</ng-template>
